In [161]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [162]:
data = {'Sno': [1, 2, 3, 4, 5, 6, 7, 8, 9], 
       'X_cordinate': [1, 1.5, 2, 2, 3, 5, 5.5, 6, 7], 
       'Y_cordinate': [2, 2.5, 2, 3, 3, 2, 2.5, 3, 2.5]
}

In [163]:
df = pd.DataFrame(data, columns = ['Sno', 'X_cordinate', 'Y_cordinate'])
df

   Sno  X_cordinate  Y_cordinate
0    1          1.0          2.0
1    2          1.5          2.5
2    3          2.0          2.0
3    4          2.0          3.0
4    5          3.0          3.0
5    6          5.0          2.0
6    7          5.5          2.5
7    8          6.0          3.0
8    9          7.0          2.5

In [164]:
df.drop(columns = ['Sno'], inplace = True)
df

   X_cordinate  Y_cordinate
0          1.0          2.0
1          1.5          2.5
2          2.0          2.0
3          2.0          3.0
4          3.0          3.0
5          5.0          2.0
6          5.5          2.5
7          6.0          3.0
8          7.0          2.5

In [165]:
X1 = df.values
X1

array([[1. , 2. ],
       [1.5, 2.5],
       [2. , 2. ],
       [2. , 3. ],
       [3. , 3. ],
       [5. , 2. ],
       [5.5, 2.5],
       [6. , 3. ],
       [7. , 2.5]])

In [166]:
centroid1 = (1, 0)
centroid2 = (1.5, 2.5)

In [167]:
cluster1 = [0]
cluster2 = [1]

In [168]:
for i in range(2, 9):
    dist1 = ( (X1[i][1] - centroid1[1])**2 + (X1[i][0] - centroid1[0])**2 )**0.5
    
    dist2 = ( (X1[i][1] - centroid2[1])**2 + (X1[i][0] - centroid2[0])**2 )**0.5
    
    if (dist1 < dist2): 
        cluster1.append(i)
    else:
        cluster2.append(i)

In [169]:
cluster1

[0]

In [170]:
cluster2

[1, 2, 3, 4, 5, 6, 7, 8]